@using System.Web.Mvc.Html
@model List<IT.Core.ViewModels.CustomerNoteOrderViewModel>
@{

    List<IT.Core.ViewModels.CustomerNoteOrderViewModel> customerNoteOrderViewModel = new List<IT.Core.ViewModels.CustomerNoteOrderViewModel>();
    customerNoteOrderViewModel = Model as List<IT.Core.ViewModels.CustomerNoteOrderViewModel>;


}

<!--      <div class="panel-tag">
            <p>Drivers Base Information</p>


        </div>-->
<!-- datatable start -->
<table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
    <thead class="bg-primary-600">
        <tr>
            <th>Customer Order Number</th>
            <th>Delivery Note Number</th>
            <th>Order Quantity</th>
            <th>Deliver Quantity</th>
            <th>UserName</th>
            <th>Is Sent</th>
            <th>Order Progress</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="trData">
        @foreach (var item in customerNoteOrderViewModel)
        {

        <tr>
            <td>@item.CustomerOrderNumber</td>
            <td>@item.DeliveryNoteNumber</td>
            <td>@item.OrderQuantity</td>
            <td>@item.DeliverdQuantity</td>
            <td>@item.UserName</td>
            <td>
                @if (item.IsSend == true)
                {
                    <span class="badge badge-success">Order Sended</span>
                }
                else
                {
                    <span class="badge badge-warning">Not Sended</span>
                }
            </td>
            <td>
                @if (item.OrderProgress == "Order Accepted")
                {
                    <span class="badge badge-success">Order Accepted</span>
                }
                else if (item.OrderProgress == "Order Created")
                {
                    <span class="badge badge-primary">Order Created</span>
                }
                else if (item.OrderProgress == "Order Assigned")
                {
                    <span class="badge badge-warning">Order Assigned</span>
                }
                else if (item.OrderProgress == "Order Rejected")
                {
                    <span class="badge badge-danger">Order Rejected</span>
                }
                else if (item.OrderProgress == "Order Running")
                {
                    <span class="badge badge-dark">Order Running</span>
                }
                else if (item.OrderProgress == "Order Deliverd")
                {
                    <span class="badge badge-info">Order Deliverd</span>
                }
            </td>

            <td>
                <a href="/CustomerOrder/Details/@item.OrderId"><i class="fal fa-eye"></i> </a> &nbsp; &nbsp;

                @if (item.OrderProgress != "Created" || item.OrderProgress != "Order Created")
                {
                    <a><i class="fal fa-edit"></i></a>
                }
                else
                {
                    <a href="/CustomerOrder/Edit/@item.OrderId"><i class="fal fa-edit"></i></a>
                }
            </td>
        </tr>
        }

    </tbody>
</table>

