@model IT.Core.ViewModels.EmployeeViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Employee <span class="fw-300">Create </span>
                </h2>

            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <form action="/Employee/Update" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="hidden" name="Id" value="@Model.Id" />
                                    <label class="form-label" for="simpleinput">First Name</label>
                                    <input type="text" id="Name" name="Name" value="@Model.Name" class="form-control" placeholder="Please Enter Frist Name">
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="single-label">
                                        Nationality
                                    </label>
                                    <select class="form-control" id="Nationality" name="Nationality">
                                        <option value="Afghanistan" @(Model.Nationality == "Afghanistan" ? "selected" : "")>Afghanistan</option>
                                        <option value="Pakistan" @(Model.Nationality == "Pakistan" ? "selected" : "")>Pakistan</option>
                                        <option value="India" @(Model.Nationality == "India" ? "selected" : "")>India</option>
                                        <option value="Bangladesh" @(Model.Nationality == "Bangladesh" ? "selected" : "")>Bangladesh</option>
                                        <option value="Nipal" @(Model.Nationality == "Nipal" ? "selected" : "")>Nipal</option>
                                        <option value="Other" @(Model.Nationality == "Other" ? "selected" : "")>Other</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="simpleinput">Contact</label>
                                    <input type="text" id="Contact" name="Contact" value="@Model.Contact" class="form-control" placeholder="Enter Contact">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="simpleinput">Email</label>
                                    <input type="Email" id="Email" name="Email" value="@Model.Email" class="form-control" placeholder="Enter Email">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="simpleinput">Expiry Date</label>
                                    <input type="date" id="expiryDate" name="expiryDate" value="@Model.ExpiryDate" class="form-control" placeholder="Enter Color">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="simpleinput">Nation</label>
                                    <input type="text" id="nation" name="nation" value="@Model.Nation" class="form-control" placeholder="Enter Nation">
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="single-label">
                                        Select Designation
                                    </label>


                                    <select class="select2 form-control" name="Designation" id="Designation">
                                        @if (ViewBag.Designations != null)
                                        {
                                            foreach (var item in ViewBag.Designations)
                                            {
                                                <option value="@item.Id" @(item.Id == Model.Designation ? "selected" : "")>@item.Designation</option>

                                            }
                                        }

                                    </select>
                                </div>





                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="form-label" for="simpleinput">Basic Salary</label>
                                    <input type="text" id="BasicSalary" name="BasicSalary" value="@Model.BasicSalary" class="form-control" placeholder="Enter BasicSalary">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="simpleinput">Facebook</label>
                                    <input type="text" id="Facebook" name="Facebook" value="@Model.Facebook" class="form-control" placeholder="Enter Facebook">
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="simpleinput">Notes</label>
                                    <textarea name="Comments" id="Comments" class="form-control">@Model.Comments</textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="form-label" style="margin-top:20px"><b>Passport</b> Front Side</label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class=newbtn>

                                                    <img id="PassportFrontPreview" class="blah" src="http://awservices.somee.com/ClientDocument/@Model.PassportFront" onerror="this.src='/assets/staticImages/icon1.png';" alt="Passport Front">
                                                    <input id="PassportFrontFile" name="PassportFrontFile" class='pic' onchange="readURL(this);" type="file">
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="form-label" style="margin-top:20px"><b>Passport</b> back Side</label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class=newbtn>
                                                    <img id="PassportBackPreview" class="blah" src="http://awservices.somee.com/ClientDocument/@Model.PassportBack" onerror="this.src='/assets/staticImages/icon1.png';" alt="Passport back">
                                                    <input id="PassportBackFile" name="PassportBackFile" class='pic' onchange="readURL(this);" type="file">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row py-5">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary btn-sm btn-block waves-effect waves-themed">
                                            Submit
                                            <span>Employee</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/CustomScript/FileUploadPreview.js"></script>
    <script>

    $(document).ready(function () {

        //$('#Save').click(function () {
        //    PostApiRequest();
        //})


        $("#PassportFrontFile").change(function () {
            readURL(this,"PassportFrontPreview");
    });


        $("#PassportBackFile").change(function () {
            readURL(this, "PassportBackPreview");
    });


    })

    //function PostApiRequest() {
    //    $.post("http://itmolen-001-site8.htempurl.com/api/Driver/Add", $("#form1").serialize(), function (msg) {
    //        alert("success");
    //    });
    //}




    @*function SaveStundent () {
    var formData = new FormData();

        var file = document.getElementById("studImg").files[0];
        formData.append("studImg", file);

        var Name= $('#txtName').val().trim()

        formData.append("Name", Name);

        $.ajax({
        type: "POST",
        url: "@(Url.Action("CreateStudent", "Student"))",
        data: formData,
        processData: false,
        contentType: false,
            success: function (response) {
            }
        });
    }*@


    </script>


    @section scripts{

        <script>
            $(document).ready(function () {
                $("#EmployeeMenu").attr("aria-expanded", "true");
                $('#EmployeeUl').css('display', 'block');
                $('#EmployeeLi').addClass('active');
            });

        </script>

    }
}
<style>


    .pic {
        display: none;
    }

    .newbtn {
        cursor: pointer;
    }

    .blah {
        max-width: 100%;
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
</style>


