@model List<IT.Core.ViewModels.StorageViewModel>
@{
    ViewBag.Title = "AW Fuel - Storage List";

    List<IT.Core.ViewModels.StorageViewModel> storageViewModels = new List<IT.Core.ViewModels.StorageViewModel>();
    storageViewModels = Model as List<IT.Core.ViewModels.StorageViewModel>;
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a class="btn btn-md btn-primary" href="/Storage/Create">
                        <i class="fal fa-plus-circle"></i>  Create New <span class="fw-300"><i>Storage</i></span>
                    </a>
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!--      <div class="panel-tag">
                                <p>Drivers Base Information</p>
                            </div>-->
                    <!-- datatable start -->
                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th style="background-color:orangered">From Source</th>
                                <th style="background-color:orangered">Souce Name</th>
                                <th style="background-color:orangered">Stock Out</th>
                                <th style="background-color:orange">To Source</th>
                                <th style="background-color:orange">Source Name</th>
                                <th style="background-color:orange">Stock In</th>
                                <th>Operater</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (storageViewModels != null && storageViewModels.Count > 0)
                            {
                                foreach (var item in storageViewModels)
                                {
                                <tr>
                                    <td style="background-color:orangered; color:white">@item.Source</td>
                                    <td style="background-color:orangered; color:white">@item.From</td>
                                    <td style="background-color:orangered; color:white">@item.StockOut</td>
                                    <td style="background-color:orange; color:white">@item.ToSource</td>
                                    <td style="background-color:orange; color:white">@item.To</td>
                                    <td style="background-color:orange; color:white">@item.StockIn</td>
                                    <td>@item.UserName</td>
                                    <td>
                                        <a href="/Storage/Index/@item.Id"><i class="fal fa-eye"></i> </a> &nbsp; &nbsp;
                                        <a href="/Storage/Edit/@item.Id"><i class="fal fa-edit"></i></a>&nbsp; &nbsp;
                                       
                                    </td> 
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
    $(document).ready(function () {
        //alert();
        $("#StorageMenu").attr("aria-expanded", "true");
        $('#StorageUl').css('display', 'block');
        $('#StorageLi').addClass('active');
    });

    </script>

}