@*@model List<IT.Core.ViewModels.CompnayModel>*@
@{

    ViewBag.Title = "AW Fuel - Companies List";
   
    //List<IT.Core.ViewModels.CompnayModel> compnayModels = new List<IT.Core.ViewModels.CompnayModel>();
    //compnayModels = Model as List<IT.Core.ViewModels.CompnayModel>;
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a class="btn btn-md btn-primary" href="/Company/CashCompany">
                        <i class="fal fa-plus-circle"></i>  Add New <span class="fw-300"><i>Cash Company</i></span>
                    </a>
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!--      <div class="panel-tag">
                                <p>Drivers Base Information</p>


                            </div>-->
                    <!-- datatable start -->
                    <table id="dt-basic-example1" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>TRN</th>
                                <th>Owner</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in compnayModels)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Email</td>
                                    <td>@item.Phone</td>
                                    <td>@item.TRN</td>
                                    <td>@item.OwnerRepresentaive</td>
                                    <td>
                                        <a href="/Company/Details/@item.Id"><i class="fal fa-eye"></i> </a> &nbsp; &nbsp;
                                        <a href="/Company/Edit/@item.Id"><i class="fal fa-edit"></i></a>&nbsp; &nbsp;
                                        <i class="fal fa-trash-alt"></i>
                                    </td>
                                </tr>
                            }*@

                        </tbody>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
         
 
<script>
    $(document).ready(function () {
        //alert();
        $("#CompanyMenu").attr("aria-expanded", "true");
        $('#CompanyUl').css('display', 'block');
        $('#CompanyLi').addClass('active');        
    });

    $(function () {
        $("#dt-basic-example1").DataTable({
            "paging": true,
            "responsive": true,
            "processing": true,
            "searching": true,
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Company/CompanyAll",
                "type": "POST",
                "datatype": "json"
            },

            "columns": [
                //{ "data": "Id", "name": "Id", "autoWidth": true },// key for edit delete
                { "data": "Name", "name": "Name", "autoWidth": true },
                { "data": "Email", "name": "Email", "autoWidth": true },
                { "data": "Phone", "name": "Phone", "autoWidth": true },
                { "data": "TRN", "name": "TRN", "autoWidth": true },
                { "data": "OwnerRepresentaive", "name": "OwnerRepresentaive", "autoWidth": true },              
                {
                    render: function (data, type, row) {
                        return '<div class="pull-right"><button  class="btn btn-primary btn-sm" data-id="Id" onclick="Edit(' + row.Id + ')"><i class="fal fa-pencil"></i></button>  <button  class="btn btn-primary btn-sm" data-id="Id" onclick="Details(' + row.Id + ')"><i class="fal fa-eye"></i></button>'
                    }
                }
            ]
        });
    });


    function Edit(Id) {

        window.location.href = "/Company/CompanyEdit/"+Id;
    }

    function Details(Id) {
        window.location.href = "/Company/Details/" + Id;
    }

</script>
         
         
}