

@{
    IT.Core.ViewModels.LPOInvoiceViewModel LPOInvoiceViewModel = new IT.Core.ViewModels.LPOInvoiceViewModel();
    IT.Core.ViewModels.LpoRemainingQuantityViewModel lpoRemainingQuantityViewModel = new IT.Core.ViewModels.LpoRemainingQuantityViewModel();

    LPOInvoiceViewModel = ViewBag.lPOInvoiceViewModel as IT.Core.ViewModels.LPOInvoiceViewModel;

    List<IT.Core.ViewModels.VenderViewModel> venderViewModels = new List<IT.Core.ViewModels.VenderViewModel>();
    venderViewModels = ViewBag.Vender as List<IT.Core.ViewModels.VenderViewModel>;

    // lpoRemainingQuantityViewModel = 

    var DueDate = "";
    var FromDate = "";
    //if (LPOInvoiceViewModel.Heading != "BILL")
    //{
    //    DueDate = LPOInvoiceViewModel.DDate;
    //    FromDate = LPOInvoiceViewModel.FDate;
    //    LPOInvoiceViewModel.FromDate = Convert.ToDateTime(FromDate);
    //    LPOInvoiceViewModel.DueDate = Convert.ToDateTime(DueDate);
    //}
    //else
    //{
    //DueDate = System.DateTime.Now.ToString("yyyy-MM-dd");
    //FromDate = System.DateTime.Now.ToString("yyyy-MM-dd");
    //}

    if (LPOInvoiceViewModel.Heading == "BILL")
    {
        lpoRemainingQuantityViewModel = ViewBag.lpoRemainingQuantityViewModel as IT.Core.ViewModels.LpoRemainingQuantityViewModel;
    }

}

<input type="hidden" id="LPOId" value="@LPOInvoiceViewModel.Id" />
<h1 class="text-center font-weight-bold"><u>@LPOInvoiceViewModel.Heading</u></h1>

<div class="row">
    <div class="col-md-4">
        @if (LPOInvoiceViewModel.Heading == "Quotation" || LPOInvoiceViewModel.Heading == "Invoice")
        {
            <h5 class="font-weight-bold"><u>Customer Info:</u></h5>
        }
        else
        {
            <h5 class="font-weight-bold"><u>Vender Info:</u></h5>
        }

        @if (LPOInvoiceViewModel.Id > 0)
        {
            
        }
        else
        {
            if (lpoRemainingQuantityViewModel.LPOQuantity == 0)
            {
                <select class="form-control" id="VenderId">
                    @if (venderViewModels != null)
                    {
                        foreach (var item in venderViewModels)
                        {
                            <option value="@item.Id" @(item.Id == LPOInvoiceViewModel.UpdatedBy ? "selected='selected'" : "")>@item.Name</option>
                        }
                    }
                </select>
            }
        }



        <div class="form-group">
            <p style="margin-top:10px">
            </p>
            @if (lpoRemainingQuantityViewModel.LPOQuantity != 0)
            {
                <p><i class="glyphicon glyphicon-user"> </i>Company Name: <span id="ContactPerson">@LPOInvoiceViewModel.Name</span></p>
            }
            <p><i class="glyphicon glyphicon-road"></i> Address: <span id="VenderAddress">@LPOInvoiceViewModel.Address</span></p>
            <p><i class="glyphicon glyphicon-earphone"></i>Land Line : <span id="VenderPhone">@LPOInvoiceViewModel.LandLine</span></p>
            <p><i class="glyphicon glyphicon-earphone"></i>Mobile : <span id="VenderCell">@LPOInvoiceViewModel.Mobile</span></p>
            <p><i class="glyphicon glyphicon-envelope"></i>Email :<span id="VenderEmail">@LPOInvoiceViewModel.Email</span></p>
            <p> <i class="glyphicon glyphicon-text-width"></i>TRN : <span id="VenderVAT">@LPOInvoiceViewModel.TRN</span></p>
        </div>
    </div>
    
    <div class="col-md-4">
        @if (LPOInvoiceViewModel.Heading == "BILL")
        {
            if (lpoRemainingQuantityViewModel.LPOQuantity != 0)
            {
                 <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Resverved</th>
                        <th>Received</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @lpoRemainingQuantityViewModel.LPOId
                        </td>
                        <td>
                            @lpoRemainingQuantityViewModel.LPOQuantity
                        </td>
                        <td>
                            @lpoRemainingQuantityViewModel.BillQuantity
                        </td>
                        <td>
                            <a href="/Bill/BillAllByLpoId/@lpoRemainingQuantityViewModel.LPOId" title="All bill from this LPO">Bill <i class="fal fa-eye"></i></a>  | <a href="/LPO/Details/@lpoRemainingQuantityViewModel.LPOId" title="LPO Details">Lpo <i class="fal fa-eye"></i></a> 
                        </td>
                    </tr>
                </tbody>
            </table>
            }
         }
    </div>

    <div class="col-md-4">
        <div class="pull-right">
            <div class="input-group mb-1">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">From Date:</span>
                </div>
                <input type="date" id="FromDate" value="@LPOInvoiceViewModel.FromDate.ToString("yyyy-MM-dd")" name="FromDate" class="form-control" placeholder="From Date">

              </div>
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">Due Date:  </span>
                </div>
                <input type="date" id="DueDate" value="@LPOInvoiceViewModel.FromDate.ToString("yyyy-MM-dd")" name="DueDate" class="form-control" placeholder="Due Date">
              </div>
            <div class="input-group mb-1">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">No:</span>
                </div>
                <label type="text" class="form-control" id="PONumber">@LPOInvoiceViewModel.PONumber</label>
            </div>

            @if (LPOInvoiceViewModel.Heading == "BILL" || LPOInvoiceViewModel.Heading == "Invoice" || LPOInvoiceViewModel.Heading == "Purchase")
            {
                @*<p>Ref NO# : <label id="RefrenceNumber">@LPOInvoiceViewModel.RefrenceNumber</label></p>*@
                <div class="input-group mb-1">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">Ref NO# ::</span>
                    </div>
                    <input type="text" class="form-control" id="RefrenceNumber" value="@LPOInvoiceViewModel.RefrenceNumber"/>
                </div>
            }
            @if (LPOInvoiceViewModel.Heading == "BILL")
            {
                <div class="input-group mb-1">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">Invoice NO# :</span>
                    </div>
                    <input type="text" id="BillNumbers" class="form-control" placeholder="Refrence Number" value="@LPOInvoiceViewModel.BillNumber" />
                </div>              
            }
        </div>
    </div>

</div>

<input type="hidden" value="@LPOInvoiceViewModel.Id" id="LPOId" />
<input type="hidden" value="@LPOInvoiceViewModel.VenderId" id="VenderId" />





