@model IT.Core.ViewModels.FuelPricesViewModel
@{
    if (Model.Id > 0)
    {
        ViewBag.Title = "Aw Fuel - Edit Fuel Price";
    }
    else
    {
        ViewBag.Title = "Aw Fuel - Create Fuel Price";
    }
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

<main id="js-page-content" role="main" class="page-content">

    <div class="subheader">
        @if (Model.Id > 0)
        {
            <h1 class="subheader-title">
                <i class='subheader-icon fal fa-edit'></i> Edit Fuel Price
            </h1>
        }
        else
        {
            <h1 class="subheader-title">
                <i class='subheader-icon fal fa-edit'></i> Create Fuel Price
            </h1>
        }
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Fuel Price <span class="fw-300"></span>
                    </h2>

                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        @if (Model.Id > 0)
                        {
                            <div class="panel-tag">
                                Please Edit Fuel Price from here...
                            </div>
                        }
                        else
                        {
                            <div class="panel-tag">
                                Please add Fuel Price from here...
                            </div>
                        }
                            <form action="/FuelPrices/Create" method="post">
                                <input type="hidden" value="@Model.Id" name="Id" id="Id" />
                                <div class="row">
                                    <div class="col-md-6 pt-3">
                                        <div class="form-group">
                                            <label class="form-label" for="simpleinput">Fuel Price</label>
                                            <input type="text" id="Price" name="Price" value="@Model.Price" class="form-control" placeholder="Fuel Price">
                                        </div>
                                    </div>

                                    <div class="col-md-6 pt-3">

                                        <div class="form-group">
                                            <label class="form-label text-muted" for="Month">Select Month</label>
                                            <select class="form-control"id="Month " name="Month" value="@Model.Month">
                                                <option value="January" @(Model.Month == "January" ? "selected='selected'" : "")>January</option>
                                                <option value="February" @(Model.Month == "February" ? "selected='selected'" : "")>February</option>
                                                <option value="March" @(Model.Month == "March" ? "selected='selected'" : "")>March</option>
                                                <option value="April" @(Model.Month == "April" ? "selected='selected'" : "")>April</option>
                                                <option value="May" @(Model.Month == "May" ? "selected='selected'" : "")>May</option>
                                                <option value="June" @(Model.Month == "June" ? "selected='selected'" : "")>June</option>
                                                <option value="July" @(Model.Month == "July" ? "selected='selected'" : "")>July</option>
                                                <option value="August" @(Model.Month == "August" ? "selected='selected'" : "")>August</option>
                                                <option value="September" @(Model.Month == "September" ? "selected='selected'" : "")>September</option>
                                                <option value="October" @(Model.Month == "October" ? "selected='selected'" : "")>October</option>
                                                <option value="November" @(Model.Month == "November" ? "selected='selected'" : "")>November</option>
                                                <option value="December" @(Model.Month == "December" ? "selected='selected'" : "")>December</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-12 pt-3">
                                        <div class="form-group">
                                            <label class="form-label" for="single-label">
                                                Select Unit
                                            </label>
                                            <select class="select2 form-control" name="Unit" id="Unit">
                                                @foreach (var item in ViewBag.productUnitViewModels)
                                                {
                                                    <option value="@item.Id" @(item.Id == Model.Unit ? "selected='selected'" : "")>@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                    <div class="row py-5">
                                        <div class="col-md-12">
                                            @if (Model.Id > 0)
                                            {
                                                <button type="submit" class="btn btn-primary btn-sm btn-block waves-effect waves-themed">
                                                    Update
                                                    <span>Fuel Price</span>
                                                </button>
                                            }
                                            else
                                            {
                                                <button type="submit" class="btn btn-primary btn-sm btn-block waves-effect waves-themed">
                                                    Submit
                                                    <span>Fuel Price</span>
                                                </button>
                                            }
                                        </div>
                                    </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

