@model  List<IT.Core.ViewModels.VenderViewModel>
@{
    ViewBag.Title = "Aw fuel - Venders List";
  
    List<IT.Core.ViewModels.VenderViewModel> venderViewModels = new List<IT.Core.ViewModels.VenderViewModel>();
    venderViewModels = Model as List<IT.Core.ViewModels.VenderViewModel>;
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a class="btn btn-md btn-primary" href="/Vender/Create">
                        <i class="fal fa-plus-circle"></i>  Add New <span class="fw-300"><i>Vender</i></span>
                    </a>
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Representative</th>
                                <th>TRN</th>
                                <th>Mobile</th>
                                <th>IsActive</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in venderViewModels)
                            {
                                <tr>
                                    <td class="Name">@item.Name</td>
                                    <td class="Email">@item.Email</td>
                                    <td class="Representative">@item.Representative</td>
                                    <td class="TRN">@item.TRN</td>
                                    <td class="Mobile">@item.Mobile</td>
                                    <td>
                                        @if (@item.IsActive == true)
                                        {
                                            <div class="switchToggle">
                                                <input type="checkbox" class="IsActive" data-value="@item.Id" id="@item.Id" checked>
                                                <label for="@item.Id">Toggle</label>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="switchToggle">
                                                <input type="checkbox" class="IsActive" data-value="@item.Id" id="@item.Id">
                                                <label for="@item.Id">Toggle</label>
                                            </div>

                                        }
                                        <input type="hidden" value="@item.Id" class="Id" id="DriverId" />
                                    </td>
                                    <td>
                                        <a href="/Vender/Details/@item.Id"><i class="fal fa-eye"></i> </a> &nbsp; &nbsp;
                                        <a href="/Vender/Edit/@item.Id"><i class="fal fa-edit"></i></a>&nbsp; &nbsp;
                                       
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/Scripts/CustomScript/FileUploadPreview.js"></script>
    <script>

        $(document).ready(function () {

            $(".IsActive").click(function () {
                if (confirm("Are you sure")) {

                    var act = false;
                    if (this.checked) {
                        act = true;
                    }

                    var Data = JSON.stringify(
                        {
                            IsActive: act,
                            Id: $(this).data("value"),
                        })
                    // alert(Data);
                    ajaxRequest("POST", "/Vender/ChangeStatus", Data, "json").then(function (result) {
                        if (result != "failed") {
                            //console.log(result);
                            window.location.reload();
                        }
                        else {
                            alert('there is some problem');
                        }
                    })
                }
                else {
                    return false;
                }
            });
        });

    </script>

        <script>
            $(document).ready(function () {
                //alert();
                $("#VenderMenu").attr("aria-expanded", "true");
                $('#VenderUl').css('display', 'block');
                $('#VenderLi').addClass('active');
            });

        </script>

}
