@model IT.Core.ViewModels.CustomerBookingReservedRemaining
@{
    ViewBag.Title = "BookingReserved";
}


<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a class="btn btn-md btn-primary" href="/CustomerBooking/CustomerCreate">
                        <i class="fal fa-plus-circle"></i> Request For New <span class="fw-300"><i>Booking</i></span>
                    </a>
                </h2>

            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <h3>
                        <a>
                            Reserved <span class="fw-300"><i>Quantity</i></span>
                        </a>
                    </h3>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped w-100">
                            <thead class="bg-primary-600">
                                <tr>
                                    <th>Quantity</th>
                                    <th>Price(AED)</th>
                                    <th>VAT</th>
                                    <th>Amount(AED)</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Reserved)
                                {
                                    <tr>
                                        <td>@item.BookQuantity</td>
                                        <td>@item.UnitPrice</td>
                                        <td>@item.VAT</td>
                                        <td>@item.TotalAmount</td>
                                    </tr>
                                }

                            </tbody>

                        </table>
                        <!-- datatable end -->

                    </div>

                </div>
            </div>


            <div class="panel-container show">
                <div class="panel-content">
                    <h3>
                        <a>
                            Remaining <span class="fw-300"><i>Quantity</i></span>
                        </a>
                    </h3>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped w-100">
                            <thead class="bg-primary-600">
                                <tr>
                                    <th>Quantity</th>
                                    <th>Price(AED)</th>
                                    <th>VAT</th>
                                    <th>Amount(AED)</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item1 in Model.Remaining)
                                {
                                    <tr>
                                        <td>@item1.BookQuantity</td>
                                        <td>@item1.UnitPrice</td>
                                        <td>@item1.VAT</td>
                                        <td>@item1.TotalAmount</td>
                                    </tr>
                                }

                            </tbody>

                        </table>
                        <!-- datatable end -->

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{


    <script>
        $(document).ready(function () {
            $("#CustomerMyBookinMenu").attr("aria-expanded", "true");
            $('#CustomerbookingUl').css('display', 'block');
            $('#CustomerBookingReservedli').addClass('active');
        });

    </script>

}