@model IT.Core.ViewModels.CustomerBookingViewModel
@{
    ViewBag.Title = "CustomerBookingGetById";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
    List<IT.Core.ViewModels.CompanyViewModel> companyViewModels = new List<IT.Core.ViewModels.CompanyViewModel>();
    List<IT.Core.ViewModels.ProductViewModel> productViewModels = new List<IT.Core.ViewModels.ProductViewModel>();
    List<IT.Core.ViewModels.ProductUnitViewModel> productUnitViewModels = new List<IT.Core.ViewModels.ProductUnitViewModel>();

    companyViewModels = ViewBag.Companies as List<IT.Core.ViewModels.CompanyViewModel>;
    productViewModels = ViewBag.Products as List<IT.Core.ViewModels.ProductViewModel>;
    productUnitViewModels = ViewBag.ProductUnits as List<IT.Core.ViewModels.ProductUnitViewModel>;
}

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0);"> Booking</a></li>
    <li class="breadcrumb-item active">Create</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>

<div class="subheader">
    <h1 class="subheader-title">
        <i class='subheader-icon fal fa-edit'></i> Create Booking
    </h1>
</div>
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <span class="fw-300"></span>
                </h2>
            </div>
            <form action="/CustomerBooking/CustomerBookingUpdate" method="post" enctype="application/x-www-form-urlencoded">
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="panel-tag">
                            Please Add Booking...
                        </div>
                        <input type="hidden" name="Id" value="@Model.Id" />

                        <div class="row">

                            <div class="col-md-6                                    ">

                                <div class="form-group mb-2">
                                    <label>Company Name</label>
                                    <select id="CompanyId" name="CompanyId" class="select3 Company" required>
                                        @foreach (var item in companyViewModels)
                                        {
                                            <option value="@item.Id" @(item.Id == Model.CompanyId ? "selected='selected'" : "")>@item.Name</option>
                                        }
                                    </select>
                                </div>

                            </div>

                            <div class="col-md-6                                    ">

                                <div class="form-group mb-2">
                                    <label>Product Name</label>
                                    <select id="ProductId" name="ProductId" class="select3 ProductId" required>
                                        @foreach (var item in productViewModels)
                                        {

                                            <option value="@item.Id" @(item.Id == Model.ProductId ? "selected='selected'" : "")>@item.Name</option>

                                        }
                                    </select>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


                <div class="table-responsive-lg">
                    <table class="table m-0 data-table" id="SiteTarget">
                        <thead>
                            <tr>
                                <th>Quantity</th>
                                <th width="200px"> Product Unit </th>
                                <th>Unit Price</th>
                                <th>VAT %</th>
                                <th style="width:90px">Total Amount</th>
                            </tr>
                        </thead>

                        <tbody>


                            <tr>
                                <td style="width:200px">
                                    <input type="text" class="form-control Quantity" value="@Model.BookQuantity" name="BookQuantity" id="Quantity" placeholder="QTY" />
                                </td>

                                <td style="width:250px !important">
                                    <div class="form-group mb-2">

                                        <select id="UnitId" name="UnitId" class="select3 UnitId" required>
                                            <option>Product Unit</option>
                                            @foreach (var item in productUnitViewModels)
                                            {

                                                <option value="@item.Id" @(item.Id == Model.UnitId ? "selected='selected'" : "")>@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </td>

                                <td>
                                    <input type="text" name="UnitPrice" class="form-control UnitPrice" value="@Model.UnitPrice" id="UnitPrice" placeholder="Unit Price" />
                                </td>

                                <td>
                                    <div class="form-group mb-2">


                                        <select id="VAT1" name="VAT1" class="form-control VAT1" required>

                                            <option value="0">0</option>
                                            <option value="5">5</option>

                                        </select>
                                    </div>
                                </td>

                                <td style="width:250px">
                                    <input type="text" class="form-control TotalAmount" name="TotalAmount" value="@Model.TotalAmount" id="TotalAmount" placeholder="Total Amount" />

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="panel-container">
                    <div class="panel-content">
                        <div class="row">
                            <div class="col-md-9">

                                <div class="form-group mb-2">
                                    <textarea class="form-control Description" rows="3" name="Description" id="Description" placeholder="Description">@Model.Description</textarea>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="width:100px"><b>VAT 5% </b></th>
                                            <td>
                                                <input class="form-control" type="hidden" id="VAT" name="VAT" value="@Model.VAT" />
                                                <p style="border:2px groove; padding:0px 15px 0px 15px; font-weight:bolder" class="my-1" id="VAT2">@Math.Round(Model.VAT, 2) </p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th style="width:100px"><b>Gand Total</b> </th>
                                            <td>
                                                <input class="form-control" type="hidden" id="gtotal" name="name" value="343" />
                                                <p style="border:2px groove; padding:0px 15px 0px 15px; font-weight:bolder" class="my-1" id="gtotal2">@Math.Round(Model.TotalAmount, 2) </p>
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

              
                <div class="row mt-3">
                    <div class="col-md-12">
                        <button type="submit" id="SaveRecord" class="btn btn-primary btn-sm btn-block waves-effect waves-themed">
                            Booking
                            <span>Submit</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>


</div>

@section scripts{



    <script src="~/Scripts/Common-Scripts/bookingVat.js"></script>


}
