@model List<IT.Core.ViewModels.CustomerBookingViewModel>
@{
    ViewBag.Title = "Index";

    List<IT.Core.ViewModels.CustomerBookingViewModel> customerBookingViewModels = new List<IT.Core.ViewModels.CustomerBookingViewModel>();
    customerBookingViewModels = Model as List<IT.Core.ViewModels.CustomerBookingViewModel>;
}


<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a class="btn btn-md btn-primary" href="/CustomerBooking/AdminCreate">
                        <i class="fal fa-plus-circle"></i> Create For New <span class="fw-300"><i>Booking</i></span>
                    </a>
                </h2>

            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <div class="py-2">

                    </div>

                    <table id="dt-basic-example1" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>Company Name</th>
                                <th>Product Name</th>
                                <th>Start Date</th>
                                <th>Due Date</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>VAT</th>
                                <th>Total Amount</th>
                                <th>Order Status</th>
                                <th width="100px">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in customerBookingViewModels)
                            {

                                <tr>
                                    <td>@item.CompanyName</td>
                                    <td>@item.ProductName</td>
                                    <td>@item.CreatedDate.ToString("dd-MMM-yyyy")</td>
                                    <td>@item.DueDate.ToString("dd-MMM-yyyy")</td>
                                    <td>@Math.Round(item.UnitPrice, 2)</td>
                                    <td>@item.BookQuantity</td>
                                    <td>@Math.Round(item.VAT, 2)</td>
                                    <td>@Math.Round(item.TotalAmount, 2)</td>
                                    <td>
                                        @if (item.IsActive == true && item.IsOpen == true && item.IsAccepted == false)
                                        {
                                            <span class="badge badge-primary">pending</span>

                                        }
                                        else if (item.IsActive == true && item.IsOpen == true && item.IsAccepted == true)
                                        {
                                            <span class="badge badge-success">Accepted</span>
                                        }
                                        else if (item.IsActive == false && item.IsOpen == true && item.IsAccepted == false)
                                        {
                                            <span class="badge badge-danger">Rejected</span>
                                        }

                                        else if (item.IsActive == false && item.IsOpen == false && item.IsAccepted == true)
                                        {
                                            <span class="badge badge-Secondary">Completed</span>
                                        }

                                    </td>
                                    <td>


                                        <a href="/CustomerBooking/Details/@item.Id"><i class="fal fa-eye"></i> </a> &nbsp; &nbsp;
                                        <a href="/CustomerBooking/CustomerBookingGetById/@item.Id"><i class="fal fa-edit"></i></a>&nbsp; &nbsp;

                                    </td>
                                </tr>
                            }*@

                        </tbody>

                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{


    <script>

        $(document).ready(function () {
            $("#dt-basic-example1").DataTable({
              
                "paging": true,
                "responsive": true,
                "processing": true,
                "searching": true,
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/CustomerBooking/All",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    //{ "data": "Id", "name": "Id", "autoWidth": true },// key for edit delete
                    { "data": "CompanyName", "name": "CompanyName", "autoWidth": true },
                    { "data": "ProductName", "name": "ProductName", "autoWidth": true },
                    {
                        "data": "CreatedDate", "type": "date ",

                        "render": function (value) {
                            if (value === null) return "";
                            var date = value;
                            var nowDate = new Date(parseInt(date.substr(6)));
                            return (nowDate.getDate() + "-" + nowDate.getMonth() + "-" + nowDate.getFullYear());

                        }, "autoWidth": true
                    },
                    {
                        "data": "DueDate", "type": "date ",

                        "render": function (value) {
                            if (value === null) return "";
                            var date = value;
                            var nowDate = new Date(parseInt(date.substr(6)));
                            return (nowDate.getDate() + "-" + nowDate.getMonth() + "-" + nowDate.getFullYear());

                        }, "autoWidth": true
                    },
                   
                    {
                        "data": "UnitPrice", "type": "decimal",

                        "render": function (value) {
                            if (value === null) return "";
                            var newvat = value;
                            return (newvat.toFixed(2));

                        }, "autoWidth": true
                    },
                    {
                        "data": "BookQuantity", "type": "decimal",

                        "render": function (value) {
                            if (value === null) return "";
                            var newvat = value;
                            return (newvat.toFixed(2));

                        }, "autoWidth": true
                    },
                    {
                        "data": "VAT", "type": "decimal",

                        "render": function (value) {
                            if (value === null) return "";
                            var newvat = value;                            
                            return (newvat.toFixed(2));

                        }, "autoWidth": true
                    },
                   
                    {
                        "data": "TotalAmount", "type": "decimal",

                        "render": function (value) {
                            if (value === null) return "";
                            var newvat = value;
                            return (newvat.toFixed(2));

                        }, "autoWidth": true
                    },
                    {
                         render: function (data, type, row) {
                             if (row.IsActive == true && row.IsOpen == true && row.IsAccepted == false) {
                                 return '<span class="badge badge-primary">pending</span>';
                             }
                             else if (row.IsActive == true && row.IsOpen == true && row.IsAccepted == true){
                                 return '<span class="badge badge-success">Accepted</span>';
                             }
                             else if (row.IsActive == false && row.IsOpen == true && row.IsAccepted == false){
                                 return '<span class="badge badge-danger">Rejected</span>';
                             }
                             else if (row.IsActive == false && row.IsOpen == false && row.IsAccepted == true){
                                 return '<span class="badge badge-Secondary">Completed</span>';
                             }
                         }
                    },
                    {
                        render: function (data, type, row) {
                            return '<div class="pull-right"><a href="/CustomerBooking/Edit/' + row.Id + '" class="btn btn-primary btn-sm" data-id="Id" onclick="Edit(' + row.Id + ')"><i class="fal fa-pencil"></i></a>  <a href="/CustomerBooking/Details/' + row.Id + '" class="btn btn-primary btn-sm" data-id="Id" onclick="Details(' + row.Id + ')"><i class="fal fa-eye"></i></a>';
                        }
                    }
                ]
            });

        });
    </script>

    <script>
        $(document).ready(function () {
            $("#CustomerBookingMenu").attr("aria-expanded", "true");
            $('#CustomerBookingUl').css('display', 'block');
            $('#CustomerBookingLi').addClass('active');
        });

    </script>
    @*<script>

        $(document).ready(function () {
            setInterval(function () {
                $("#trData").load(" #trData tr");
                //alert('dd');
            }, 10000);
        });

    </script>*@


}



