@model IEnumerable<IT.Core.ViewModels.LPOInvoiceViewModel>

@{
    ViewBag.Title = "Aw Fuel - customer List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                @*<h2>
                        <a href="/Quotation/CreateEstimates" class="btn btn-md btn-primary" style="color:white">
                            <i class="fal fa-plus-circle"></i>  Add New <span class="fw-300"><i>Quotation</i></span>
                        </a>
                    </h2>*@
                <h4>My Invoices List</h4>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!--      <div class="panel-tag">
        <p>Drivers Base Information</p>
    </div>-->
                    <!-- datatable start -->
                    <div class="table-responsive">
                        <table class="QuotationListTable table table-bordered table-hover table-striped w-100">
                            <thead class="bg-primary-600">

                                <tr>
                                    <th>
                                       Product
                                    </th>
                                    <th>
                                       Total Quantity
                                    </th>
                                    <th>
                                        VAT
                                    </th>
                                    <th>
                                       Grand Total
                                    </th>
                                    <th>
                                        From Date
                                    </th>
                                    <th>
                                       Due Date
                                    </th>
                                    <th>
                                        User Name
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Product)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalQuantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VAT)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GrandTotal)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FromDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DueDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td>

                                            @Html.ActionLink("Details", "Details", new { id = item.Id })

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        </div>
                        <!-- datatable end -->
                    </div>
                </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $("#InvoiceMenu").attr("aria-expanded", "true");
            $('#InvoiceUl').css('display', 'block');
            $('#InvoiceLi').addClass('active');
        });
    </script>
}


