
@using System.Web.Mvc.Html

@model List<IT.Core.ViewModels.DriverViewModel>
@{
    ViewBag.Title = "AW Fuel - Drivers List";


    List<IT.Core.ViewModels.DriverViewModel> driverViewModels = new List<IT.Core.ViewModels.DriverViewModel>();
    driverViewModels = Model as List<IT.Core.ViewModels.DriverViewModel>;

}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a class="btn btn-md btn-primary" href="/AwfDriver/Create">
                        <i class="fal fa-plus-circle"></i>  Add New <span class="fw-300"><i>Driver</i></span>
                    </a>
                </h2>

            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!--      <div class="panel-tag">
                                <p>Drivers Base Information</p>


                            </div>-->
                    <!-- datatable start -->
                    <table id="dt-basic-example1" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>Name</th>
                                <th>Conatct</th>
                                <th>Email</th>
                                <th>License Expiry</th>
                                <th>Facebook</th>
                                <th>IsActive</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in driverViewModels)
                                {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Contact</td>
                                    <td>@item.Email</td>
                                    <td>@Convert.ToDateTime(item.DrivingLicenseExpiryDate ?? System.DateTime.Now.ToString()).ToString("dd-MMM-yyyy")</td>

                                    <td>@item.Facebook</td>
                                    <td>
                                        @if (@item.IsActive == true)
                                        {
                                            <div class="switchToggle">
                                                <input type="checkbox" class="IsActive" data-value="@item.Id" id="@item.Id" checked>
                                                <label for="@item.Id">Toggle</label>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="switchToggle">
                                                <input type="checkbox" class="IsActive" data-value="@item.Id" id="@item.Id">
                                                <label for="@item.Id">Toggle</label>
                                            </div>

                                        }
                                        <input type="hidden" value="@item.Id" class="Id" id="DriverId" />
                                    </td>
                                    <td>

                                        <a href="/AwfDriver/Details/@item.Id"><i class="fal fa-eye"></i> </a> &nbsp; &nbsp;
                                        <a href="/AwfDriver/Edit/@item.Id"><i class="fal fa-edit"></i></a>&nbsp; &nbsp;

                                    </td>
                                </tr>
                                }*@

                        </tbody>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/Scripts/CustomScript/FileUploadPreview.js"></script>



    <script>
        $(document).ready(function () {
            //alert();
            $("#DriverMenu").attr("aria-expanded", "true");
            $('#DriverUl').css('display', 'block');
            $('#DriverLi').addClass('active');
        });


        $(function () {
            $("#dt-basic-example1").DataTable({
                "paging": true,
                "responsive": true,
                "processing": true,
                "searching": true,
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/AwfDriver/All",
                    "type": "POST",
                    "datatype": "json"
                },

                "columns": [
                    //{ "data": "Id", "name": "Id", "autoWidth": true },// key for edit delete
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "Contact", "name": "Contact", "autoWidth": true },
                    { "data": "Email", "name": "Email", "autoWidth": true },
                    { "data": "DrivingLicenseExpiryDate", "name": "DrivingLicenseExpiryDate", "autoWidth": true },
                    { "data": "Facebook", "name": "Facebook", "autoWidth": true },
                    {
                        render: function (data, type, row) {
                            if (row.IsActive == true) {
                                return '<div class="switchToggle"><input onclick="ChangeStatus(' + row.Id + ',' + false + ');" IsActive type="checkbox" data-value="' + row.Id + '" id="' + row.Id + '" checked><label for="' + row.Id + '">Toggle</label></div>'
                            }
                            else {
                                return '<div class="switchToggle"><input type="checkbox" onclick="ChangeStatus(' + row.Id + ',' + true + ');" class="IsActive" data-value="' + row.Id + '" id="' + row.Id + '"><label for="' + row.Id + '">Toggle</label></div>'
                            }

                        }
                    },
                    {
                        render: function (data, type, row) {
                            return '<div class="pull-right"><button  class="btn btn-primary btn-sm" data-id="Id" onclick="Edit(' + row.Id + ')"><i class="fal fa-pencil"></i></button>  <button  class="btn btn-primary btn-sm" data-id="Id" onclick="Details(' + row.Id + ')"><i class="fal fa-eye"></i></button>'
                        }
                    }
                ]
            });
        });

   
        function Edit(Id) {
            $('#Id').val(Id);
            $('#VehicleForm').attr('action', "/Vehicle/Edit").submit();
        }

        function Details(Id) {
            $('#Id').val(Id);
            $('#VehicleForm').attr('action', "/Vehicle/Details").submit();
        }

        function ChangeStatus(Id, value) {

            if (confirm("Are you sure")) {

                var act = value;

                var Data = JSON.stringify(
                    {
                        IsActive: act,
                        Id: Id,
                    })
                // alert(Data);
                ajaxRequest("POST", "/AwfDriver/ChangeStatus", Data, "json").then(function (result) {
                    if (result != "failed") {
                        $('#dt-basic-example1').DataTable().ajax.reload();
                    }
                    else {
                        alert('there is some problem');
                    }
                })
            }
            else {
                $('#dt-basic-example1').DataTable().ajax.reload();
            }
        }
    </script>

}
