@model IT.Core.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IT.Core.ViewModels.UserViewModel userViewModel = new IT.Core.ViewModels.UserViewModel();
    userViewModel = ViewBag.userViewModel as IT.Core.ViewModels.UserViewModel;
}



<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="UserId" value="@userViewModel.UserId" />
    <div class="row">
        <div class="col-lg-6 col-xl-3 order-lg-1 order-xl-1">
            <!-- profile summary -->
            <div class="card mb-g rounded-top">
                <div class="row no-gutters row-grid">
                    <div class="col-12">
                        <div class="d-flex flex-column align-items-center justify-content-center p-4">
                            <label class=newbtn>
                                <img id="userImgPreview" class="blah" width="200px" style="border-radius:100%" src="http://awservices.somee.com/ClientDocument/@userViewModel.ImageUrl" onerror="this.src='/assets/staticImages/icon1.png';" alt="User Image">

                            </label>
                            <h5 class="mb-0 fw-700 text-center mt-3">
                                @userViewModel.FullName <br /><br />  <br /><br /> <br />
                                <a class="btn btn-sm btn-primary" href="/User/UserInformationEdit">Edit Profile</a>

                            </h5>

                        </div>
                    </div>

                </div>
            </div>

        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="col-lg-6 col-xl-3 order-lg-2 order-xl-3">
                <!-- add : -->
                <div class="card mb-2">
                    <div class="card-body">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="form-label" for="simpleinput">Email address</label>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                        </div>

                        @Html.HiddenFor(model => model.Id)


                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-body">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="form-label" for="simpleinput">Password</label>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-body">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="form-label" for="simpleinput">New Password</label>
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>



                <div class="card mb-2">
                    <div class="card-body">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-sm waves-effect waves-themed float-right">
                                Update
                                <span>User Information</span>
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        }

       
    </div>

</form>

@section Scripts{

    <script src="~/Scripts/CustomScript/FileUploadPreview.js"></script>
    <script>

        $(document).ready(function () {

            //$('#Save').click(function () {
            //    PostApiRequest();
            //})


            $("#userImg").change(function () {
                readURL(this, "userImgPreview");
            });

        });

    </script>


}

