@model IT.Core.ViewModels.VehicleViewModel
@{
     ViewBag.Title = "Create Vehicle";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0);">Vehicle</a></li>
    <li class="breadcrumb-item active">Create</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>

    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Create <span class="fw-300">Vehicle</span>
                    </h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="py-2"></div>
                        <form action="/Vehicle/Create" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" for="single-label">
                                            Select Vehicle Type
                                        </label>
                                        <select class="select2 form-control" name="VehicleType" id="VehicleType">
                                            @foreach (var item in ViewBag.VehicleTypes)
                                            {
                                                <option value="@item.Id" @(item.Id == Model.VehicleType ? "selected='selected'" : "")>@item.VehicleType</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Trafic Plate Number</label>
                                        <input type="text" id="TraficPlateNumber" value="@Model.TraficPlateNumber" name="TraficPlateNumber" class="form-control" placeholder="Trafic Plate Number">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Tc Number</label>
                                        <input type="text" id="TCNumber" name="TCNumber" value="@Model.TCNumber" class="form-control" placeholder="Enter Tc Number">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Model</label>
                                        <input type="text" id="Model" name="Model" value="@Model.Model" class="form-control" placeholder="Enter Model">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Brand</label>
                                        <input type="text" id="Brand" name="Brand" value="@Model.Brand" class="form-control" placeholder="Enter Brand">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="single-label">
                                            Color
                                        </label>
                                        <select class=" form-control" id="Color" name="Color">

                                            <option value="white" @(Model.Color == "white" ? "selected='selected'" : "")>White</option>
                                            <option value="black" @(Model.Color == "black" ? "selected='selected'" : "")>Black</option>
                                            <option value="red" @(Model.Color == "red" ? "selected='selected'" : "")>Red</option>
                                            <option value="green" @(Model.Color == "green" ? "selected='selected'" : "")>Green</option>
                                            <option value="blue" @(Model.Color == "blue" ? "selected='selected'" : "")>Blue</option>
                                            <option value="gold" @(Model.Color == "gold" ? "selected='selected'" : "")>Gold</option>
                                            <option value="other" @(Model.Color == "other" ? "selected='selected'" : "")>Other</option>

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Mulkia Expiry</label>
                                        <input type="date" id="MulkiaExpiry" value="@Model.MulkiaExpiry" name="MulkiaExpiry" class="form-control" placeholder="Enter Mulkia Expiry">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Insurance Expiry</label>
                                        <input type="date" id="InsuranceExpiry" value="@Model.InsuranceExpiry" name="InsuranceExpiry" class="form-control" placeholder="Enter Insurance Expiry">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="single-label">
                                            Region
                                        </label>
                                        <select class="select2 form-control" name="RegisteredRegion" id="RegisteredRegion">
                                            <option value="Abu Dhabi" @(Model.RegisteredRegion == "Abu Dhabi" ? "selected='selected'" : "")>Abu Dhabi</option>
                                            <option value="Dubai" @(Model.RegisteredRegion == "Dubai" ? "selected='selected'" : "")>Dubai</option>
                                            <option value="Ajman" @(Model.RegisteredRegion == "Ajman" ? "selected='selected'" : "")>Ajman</option>
                                            <option value="Fujairah" @(Model.RegisteredRegion == "Fujairah" ? "selected='selected'" : "")>Fujairah</option>
                                            <option value="Ras Al Khaimah" @(Model.RegisteredRegion == "Ras Al Khaimah" ? "selected='selected'" : "")>Ras Al Khaimah</option>
                                            <option value="Sharjah" @(Model.RegisteredRegion == "Sharjah" ? "selected='selected'" : "")>Sharjah</option>
                                            <option value="Umm Al Quwain" @(Model.RegisteredRegion == "Umm Al Quwain" ? "selected='selected'" : "")>Umm Al Quwain</option>
                                        </select>
                                    </div>


                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Notes</label>
                                        <textarea name="Comments" id="Comments" class="form-control">@Model.Comments</textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="form-label" style="margin-top:20px"><b>Upload Mulkia 1</b> Front side</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class=newbtn>
                                                        <img id="MulkiaFront1Preview" class="blah" src="/assets/staticImages/icon1.png">
                                                        <input id="MulkiaFront1File" name="MulkiaFront1File" class='pic' onchange="readURL(this);" type="file">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="form-label" style="margin-top:20px"><b>Upload Mulkia 1</b> back side</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class=newbtn>
                                                        <img id="MulkiaBack1Preview" class="blah" src="/assets/staticImages/icon1.png">
                                                        <input id="MulkiaBack1File" name="MulkiaBack1File" class='pic' onchange="readURL(this);" type="file">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="form-label" style="margin-top:20px"><b>Upload Mulkia 2</b> Front side</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class=newbtn>
                                                        <img id="MulkiaFront2Preview" class="blah" src="/assets/staticImages/icon1.png">
                                                        <input id="MulkiaFront2File" name="MulkiaFront2File" class='pic' onchange="readURL(this);" type="file">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="form-label" style="margin-top:20px"><b>Upload Mulkia 2</b> back side</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class=newbtn>
                                                        <img id="MulkiaBack2Preview" class="blah" src="/assets/staticImages/icon1.png">
                                                        <input id="MulkiaBack2File" name="MulkiaBack2File" class='pic' onchange="readURL(this);" type="file">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row py-5">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary btn-sm btn-block waves-effect waves-themed">
                                                Submit
                                                <span>Vehicle</span>
                                            </button>
                                        </div>
                                    </div>
                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                                </div>
                              
                            </div>
                        </form>
                    </div>                  
                </div>              
            </div>
        </div>
    </div>

@section Scripts{
    <script src="~/Scripts/CustomScript/FileUploadPreview.js"></script>
    <script>

    $(document).ready(function () {

        //$('#Save').click(function () {
        //    PostApiRequest();
        //})


        $("#MulkiaFront1File").change(function () {
        readURL(this,"MulkiaFront1Preview");
    });


        $("#MulkiaBack1File").change(function () {
        readURL(this, "MulkiaBack1Preview");
    });


        $("#MulkiaFront2File").change(function () {
        readURL(this, "MulkiaFront2Preview");
    });


        $("#MulkiaBack2File ").change(function () {
        readURL(this, "MulkiaBack2Preview");
    });

    })








    //function PostApiRequest() {
    //    $.post("http://itmolen-001-site8.htempurl.com/api/Driver/Add", $("#form1").serialize(), function (msg) {
    //        alert("success");
    //    });
    //}




    @*function SaveStundent () {
    var formData = new FormData();

        var file = document.getElementById("studImg").files[0];
        formData.append("studImg", file);

        var Name= $('#txtName').val().trim()

        formData.append("Name", Name);

        $.ajax({
        type: "POST",
        url: "@(Url.Action("CreateStudent", "Student"))",
        data: formData,
        processData: false,
        contentType: false,
            success: function (response) {
            }
        });
    }*@


    </script>
}
<style>


    .pic {
        display: none;
    }

    .newbtn {
        cursor: pointer;
    }

    .blah {
        max-width: 100%;
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
</style>
