@model IT.Core.ViewModels.LPOInvoiceViewModel

<h1 class="text-center font-weight-bold"><u>@ViewBag.titles</u></h1>
<div class="row">
    <div class="col-md-4">
        <div class="input-group mb-3">
            <div class="input-group-append">
                @if (ViewBag.titles == "Quotation" || ViewBag.titles == "Invoice")
                {
                    <span class="input-group-text" id="basic-addon2">Customer:</span>
                }
                else
                {
                    <span class="input-group-text" id="basic-addon2">Vendor:</span>
                }
            </div>
            <select data-placeholder="Vender" class="chosen form-control" name="Vender" id="Venders" title="select Vender">
                @if (ViewBag.Vender != null)
                {
                    foreach (var Vender in ViewBag.Vender)
                    {
                        <option value="@Vender.Id">@Vender.Name</option>
                    }
                }
                else
                {
                    <option value="0">Select Vender</option>
                }
            </select>
        </div>
        <div class="form-group">           
            <p style="margin-top:10px">
            </p>
            <p><i class="fal fa-user"></i> Contact Person :<span id="ContactPerson"></span></p>
            <p><i class="fal fa-map"></i> Address :  <span id="VenderAddress"></span></p>
            <p><i class="fal fa-mobile"> Phone : </i> <span id="VenderPhone"></span></p>
            <p><i class="fal fa-envelope"> Email : </i> <span id="VenderEmail"></span></p>
            <p> <i class="fal fa-text-width"> TRN : </i> <span id="VenderVAT"></span></p>
        </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="input-group mb-3">
            <div class="input-group-append">
                @if (ViewBag.titles == "Quotation")
                {
                    <span class="input-group-text" id="basic-addon2" style="width:110px">Qoute Number:</span>
                }
                else if (ViewBag.titles == "Invoice")
                {
                    <span class="input-group-text" id="basic-addon2" style="width:110px">Invoice Number:</span>
                }
                else if (ViewBag.titles == "Bill")
                {
                    <span class="input-group-text" id="basic-addon2" style="width:110px">Bill Number:</span>
                }
                else if(ViewBag.titles == "LPO")
                {
                    <span class="input-group-text" id="basic-addon2" style="width:110px">LPO Number:</span>
                }
                else
                {
                    <span class="input-group-text" id="basic-addon2" style="width:110px">PO Number:</span>
                }
            </div>
            <input type="text" class="form-control" id="PONo" name="PONo" placeholder="PO Number" value="@ViewBag.PO">
        </div>
        <input type="hidden" class="form-control" id="RefrenceNo" name="RefrenceNo" value="00" placeholder="RefrenceNo">

        <div class="input-group mb-1">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2" style="width:100px">From Date:</span>
            </div>
            @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control", name = "FromDate", id = "FromDate" } })
        </div>

        <div class="input-group mb-1">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2" style="width:100px"> Due Date: </span>
            </div>
            @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control", id = "DueDate" } })
        </div>
    </div>
</div>





