@model IT.Core.ViewModels.AboutViewModel
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="dzsparallaxer auto-init" data-options='{   direction: "reverse"}' style="height: 450px;">
    <div class="divimage dzsparallaxer--target cover_img" >
    </div>
    <div class=" parallax-text center-it page-title text-center">
        <h1 class="text-uppercase">@Model.Heading1</h1>

    </div>
</div><!--end page header-->
<div class="container">
    <div class="space-90"></div>
    <div class="row align-items-center margin-b-50">

        <div class="col-md-5 mr-auto">
            <img src="http://awservices.somee.com/ClientDocument/@Model.SmallImage" alt="" class="img-fluid">
        </div>

        <div class="col-md-7">
            <h4> @Model.Heading2 </h4>
            <p>
                @Model.Details1
            </p>

        </div>


    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="margin-b-20">@Model.Heading3</h3>
            <p class="margin-b-20">
                @Model.Details2
            </p>
           
        </div>

    </div>
    <div class="space-40"></div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="margin-b-20">@Model.VisionHeading</h3>
            <p class="margin-b-20">
                @Model.VisionDetails
            </p>
            <a href="/Home/Contact" class="btn btn-primary btn-lg">CONTACT</a>
        </div>

    </div>
    <div class="space-60"></div>

</div>


