@{
    /**/

    ViewBag.Title = "Customer dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<IT.Core.ViewModels.CustomerNotificationViewModel> customerNotificationViewModels = new List<IT.Core.ViewModels.CustomerNotificationViewModel>();
    customerNotificationViewModels = ViewBag.customerNotificationViewModels as List<IT.Core.ViewModels.CustomerNotificationViewModel>;

    IT.Core.ViewModels.CustomerOrderStatistics customerOrderStatistics = new IT.Core.ViewModels.CustomerOrderStatistics();
    customerOrderStatistics = ViewBag.customerOrderStatistics as IT.Core.ViewModels.CustomerOrderStatistics;

    IT.Core.ViewModels.FuelPricesViewModel fuelPricesViewModel = new IT.Core.ViewModels.FuelPricesViewModel();
    fuelPricesViewModel = ViewBag.fuelPricesViewModel as IT.Core.ViewModels.FuelPricesViewModel;

    List<IT.Core.ViewModels.FuelPricesViewModel> fuelPricesViewModels = new List<IT.Core.ViewModels.FuelPricesViewModel>();
    fuelPricesViewModels = ViewBag.fuelPricesViewModels as List<IT.Core.ViewModels.FuelPricesViewModel>;
}

<style>
    .menu4 .panel-toolbar a {
        display: none;
    }
</style>


<div class="row">

    <div class="col-12">

        @* <button id="btn2" class="btn bg-primary-700 btn-md">Click to contact AWFuel for support <span style="font-size:15px" class=" fal fa-eye"></span></button>
        <a id="btn1" class="btn bg-primary-700 btn-md" href="tel:(555)123-4567">Call (555)123-4567</a>*@
        <div class="p-4 bg-primary-700 overflow-hidden position-relative text-white mb-g">
            <h4>
                @fuelPricesViewModels[0].Month  Price: @Math.Round(fuelPricesViewModels[0].Price, 2)  AED - @fuelPricesViewModels[0].UnitName  &nbsp; / &nbsp;   @Math.Round(fuelPricesViewModels[1].Price, 2)  AED - @fuelPricesViewModels[1].UnitName &nbsp; | &nbsp;  <span style="font-weight:bold"> For Current Spot Prices & Special offers call:  <a style="color:#ffffff; text-decoration:underline !important" href="tel:+971557383866"> +971(0)55 73 83 866</a> </span>
            </h4>

        </div>
       
    </div>

    <div class="col-sm-6 col-xl-6">
        <div class="p-3 bg-primary-700 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
               
                <a style="color:white !important" href="/CustomerBooking/CustomerCreate">
                    <h3 class="display-4 d-block l-h-n m-0 fw-500">
                        <span style="font-size:28px" class="fal fa-plus-circle"> </span>
                        <span style="font-size:28px">Please Make New Booking</span>

                    </h3>
                </a>
            </div>
           
        </div>
    </div>


    <div class="col-sm-6 col-xl-6">
        <div class="p-3 bg-primary-700 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <a style="color:white !important" href="/CustomerOrder/Create">
                    <h3 class="display-4 d-block l-h-n m-0 fw-500">
                        <span style="font-size:28px" class="fal fa-plus-circle"> </span>
                        <span style="font-size:28px">Request New Delivery</span>

                    </h3>
                </a>
            </div>
        </div>
    </div>


    <div class="col-sm-6 col-xl-3">
        <div class="p-3 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    @customerOrderStatistics.TotalDrivers
                    <small class="m-0 l-h-n">Driver</small>
                </h3>
            </div>
            <i class="fal fa-user position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n1" style="font-size:6rem"></i>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="p-3 bg-warning-400 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    @customerOrderStatistics.TotalVehicles
                    <small class="m-0 l-h-n">Vehicle</small>
                </h3>
            </div>
            <i class="fal fa-gem position-absolute pos-right pos-bottom opacity-15  mb-n1 mr-n4" style="font-size: 6rem;"></i>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="p-3 bg-success-200 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    @customerOrderStatistics.TotolRequestedQuantity
                    <small class="m-0 l-h-n">Today Requested Quantity</small>
                </h3>
            </div>
            <i class="fal fa-lightbulb position-absolute pos-right pos-bottom opacity-15 mb-n5 mr-n6" style="font-size: 8rem;"></i>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="p-3 bg-info-200 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    @customerOrderStatistics.TotalDeliverdQuantity
                    <small class="m-0 l-h-n">Today Deliverd Quantity</small>
                </h3>
            </div>
            <i class="fal fa-globe position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n4" style="font-size: 6rem;"></i>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-9 col-md-8">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Requested Order
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content bg-subtlelight-fade">
                    <div id="js-checkbox-toggles" class="d-flex mb-3">
                        <div class="custom-control custom-switch mr-2">
                            <input type="checkbox" class="custom-control-input" name="gra-0" id="gra-0" checked="checked">
                            <label class="custom-control-label" for="gra-0">Requested Order History</label>
                        </div>
                    </div>
                    <div id="flot-toggles" class="w-100 mt-4" style="height: 300px"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    News
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content bg-subtlelight-fade">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100 h-100" src="http://awservices.somee.com/ClientDocument/@customerNotificationViewModels[0].ImageUrl" alt="Second slide">
                                <p>
                                    <h4>@customerNotificationViewModels[0].MessageTitle</h4>
                                </p>
                                @customerNotificationViewModels[0].MessageDescription
                            </div>
                            @if (customerNotificationViewModels != null)
                            {
                                for (int i = 1; i < customerNotificationViewModels.Count; i++)
                                {
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="http://awservices.somee.com/ClientDocument/@customerNotificationViewModels[i].ImageUrl" alt="Second slide">
                                        <p>
                                            <h4>@customerNotificationViewModels[i].MessageTitle</h4>
                                        </p>
                                        @customerNotificationViewModels[i].MessageDescription
                                    </div>
                                }
                            }

                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div id="panel-2" class="panel panel-locked" data-panel-sortable data-panel-collapsed data-panel-close>
            <div class="panel-hdr">
                <h2>
                    Requested <span class="fw-300"><i>Order</i></span>
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content poisition-relative">
                    <div class="p-1 position-absolute pos-right pos-top mt-3 mr-3 z-index-cloud d-flex align-items-center justify-content-center">
                        <div class="border-faded border-top-0 border-left-0 border-bottom-0 py-2 pr-4 mr-3 hidden-sm-down">
                            <div class="text-right fw-500 l-h-n d-flex flex-column">
                                <div class="h3 m-0 d-flex align-items-center justify-content-end">
                                    <div class='icon-stack mr-2'>
                                        <i class="base base-7 icon-stack-3x opacity-100 color-success-600"></i>
                                        <i class="base base-7 icon-stack-2x opacity-100 color-success-500"></i>
                                        <i class="fal fa-arrow-up icon-stack-1x opacity-100 color-white"></i>
                                    </div>
                                    AED @Math.Round(fuelPricesViewModel.Price, 2) / GALLON
                                </div>
                                <span class="m-0 fs-xs text-muted">Requested and Deliverd order comperison</span>
                            </div>
                        </div>
                        <div class="js-easy-pie-chart color-info-400 position-relative d-inline-flex align-items-center justify-content-center" data-percent="35" data-piesize="95" data-linewidth="10" data-scalelength="5">
                            <div class="js-easy-pie-chart color-success-400 position-relative position-absolute pos-left pos-right pos-top pos-bottom d-flex align-items-center justify-content-center" data-percent="65" data-piesize="60" data-linewidth="5" data-scalelength="1" data-scalecolor="#fff">
                                <div class="position-absolute pos-top pos-left pos-right pos-bottom d-flex align-items-center justify-content-center fw-500 fs-xl text-dark">78%</div>
                            </div>
                        </div>
                    </div>
                    <div id="flot-area" style="width:100%; height:300px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('.carousel').carousel();

            $("#btn1").hide();
            $("#btn2").click(function () {
                $("#btn1").show();
                $("#btn2").hide();
            });


        })
    </script>
    <script src="~/Scripts/CustomScript/TokenScript.js"></script>

}

