@model IEnumerable<IT.Core.ViewModels.LPOInvoiceViewModel>

@{
    ViewBag.Title = "BillAllByLpoId";
}




<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a id="createNewBill" class="btn btn-md btn-primary" style="cursor:pointer; color:white">
                        <i class="fal fa-plus-circle"></i>  Create New <span class="fw-300"><i>Bill</i></span>
                    </a>
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <table id="BillTable" class="table table-bordered table-hover table-striped w-100">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>Name</th>
                                <th>Total</th>
                                <th>VAT</th>
                                <th>Grand Total</th>
                                <th>From Date</th>
                                <th>Due Date</th>
                                <th>RefrenceNumber</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VAT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrandTotal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FromDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DueDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RefrenceNumber)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

 
    <script>
        $(document).ready(function () {
            //alert();
            $("#PurchaseMenu").attr("aria-expanded", "true");
            $('#PurchaseUl').css('display', 'block');
            $('#PurchaseBillLi').addClass('active');
        });

    </script>
    }



