
@{

    IT.Core.ViewModels.LPOInvoiceViewModel LPOInvoiceViewModel = new IT.Core.ViewModels.LPOInvoiceViewModel();

    LPOInvoiceViewModel = ViewBag.lPOInvoiceViewModel as IT.Core.ViewModels.LPOInvoiceViewModel;

    ViewBag.Title = "Details";
}

<link href="~/Content/css/Common/LPOInvoiceTable.css" rel="stylesheet" />
<link href="~/Content/css/Common/Common-LPO.css" rel="stylesheet" />


<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a href="/Bill/Index">
                        <i class="fal fa-backward"></i><span class="fw-300"><i> Go To Bill List</i></span>
                    </a>
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="data-table-list">
                                <div class="basic-tb-hd">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <h5 style="color:green">@ViewBag.Success</h5>
                                        </div>
                                        <div class="col-md-1">
                                            @*<button class="btn btn-primary btn-sm" id="createNewEmployee"><i class="fa fa-plus"></i> New</button>*@
                                        </div>
                                    </div>
                                    @Html.Partial("~/Views/Shared/LPOInvoieDetailsPartialViews/_LPOInvoiceVenderPartialView.cshtml")
                                </div>
                                <div>
                                    @Html.Partial("~/Views/Shared/LPOInvoieDetailsPartialViews/_MainTablePartialView.cshtml")
                                    @Html.Partial("~/Views/Shared/Invoice_LPO PartialView/_FooterTotalPartialView.cshtml")
                                </div>

                                <p></p>

                                <div class="row mt-3 mb-5">
                                    <div class="col-md-3">

                                        <form method="post" action="/Bill/UploadDocumentsAdd" enctype="multipart/form-data">
                                            <input type="hidden" id="BillId" name="BillId" value="@LPOInvoiceViewModel.Id" />
                                            @{
                                                Html.RenderPartial("~/Views/Shared/PartialView/UploadDocuments/UploadDocuments.cshtml");
                                            }
                                        </form>
                                    </div>
                                </div>

                                @Html.Partial("~/Views/Shared/LPOInvoieDetailsPartialViews/_FooterButtonPartialViewView.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>

        $(document).ready(function () {

            $('#VenderId').change(function () {

                var Id = $(this).val();
                if (Id > 0) {
                    $('.Venders').val(Id);
                    ajaxRequest("GET", "/Vender/Edit/" + Id, "", "json").then(function (result) {
                        if (result != "Falied") {
                            console.log(result);
                            $('#VenderAddress').text(result.Address);
                            $('#VenderPhone').text(result.LandLine);
                            $('#VenderCell').text(result.Mobile);
                            $('#VenderEmail').text(result.Email);
                            $('#VenderVAT').text(result.TRN);
                        }
                    })
                }
                else {
                    return true;
                }
            })

        })

        $('#LPOEdit').click(function () {

            var Id = $('#LPOId').val();
            window.location.href = "/Bill/Edit/" + Id;
        });

        $(document).ready(function ()
        {

        var Downloads =  @Html.Raw(Json.Encode(ViewBag.IsDownload));

            if (Downloads != null)
            {
                Id = @Html.Raw(Json.Encode(ViewBag.Id));
                window.location.href = '/Bill/PrintBill/' + Id;
            }
        });

       $('#DownloadLPOInvoice').click(function () {

           var Id = $('#LPOId').val();

           window.location.href = '/Bill/PrintBill/' + Id;
       });

        $('#SendEmail').click(function () {

            var data = JSON.stringify({
                 Id : $('#LPOId').val()
            })
            ajaxRequest("POST", "/CheckISFileExist", data, "json").then(function (result) {

                if (result == "Exist") {
                    window.location.href = "/Email";
                }
                else {
                    alert('Failed to Send email');
                }
            });

        });
    </script>


    <script>
        $(document).ready(function () {
            //alert();
            $("#PurchaseMenu").attr("aria-expanded", "true");
            $('#PurchaseUl').css('display', 'block');
            $('#PurchaseBillLi').addClass('active');
        });

    </script>

}
