@model IT.Core.ViewModels.DriverModel
@{
    ViewBag.Title = "AW Fuel - Add Direct Sale Order";
}

<main id="js-page-content" role="main" class="page-content">

   
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Direct sale Order <span class="fw-300"></span>
                    </h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="row">
                            <input type="hidden" name="vehicleId" id="vehicleId" value="@Model.VehicleId" />
                            <input type="hidden" name="driverId" id="driverId" value="@Model.DriverId" />
                            <div class="col-md-12 mb-3 mt-2">
                                Driver Name:
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="DriverName" id="DriverName" placeholder="Driver Name" value="@Model.DriverName">
                                    <div class="input-group-append">
                                        <input type="button" class="btn-primary" id="ChangeDriver" value="Change Driver" />
                                    </div>
                                </div>
                              
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            Plate Number: <input type="text" class="form-control"  readonly value="@Model.TraficPlateNumber" />                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            Contact: <input type="text" name="ContactNumber" id="ContactNumber" class="form-control" value="@Model.ContactNumber" placeholder="Driver Contact Number" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            Product:
                                            <select class="select2" id="ProductId" name="ProductId">
                                                @foreach (var item in ViewBag.productViewModels)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            Quantity:
                                            <input type="number" required class="form-control Quantity" name="orderQuantity" id="orderQuantity" placeholder="please provide Quantity" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            Unit Price:
                                            <input type="number" required class="form-control UnitPrice" name="UnitPrice" id="UnitPrice" placeholder="please provide Unit Price" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            VAT:
                                            <select class="form-control" id="VATPercentage">
                                                <option value="0">0</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4 col-sm-12">
                                        VAT Amount:
                                        <input type="text" id="VatAmount" readonly class="form-control float-right" value="0.00" />
                                        <br />
                                        Total Amount:
                                        <input type="text" id="TotalAmount" readonly class="form-control float-right" value="0.00" />
                                    </div>
                                </div>
                                    <input type="hidden" id="Lattitue" />
                                    <input type="hidden" id="Longitude" />
                                    <input type="hidden" id="LocationFullUrl" />
                                </div>
                            <div class="col-md-12">
                                <div class="row py-5">
                                    <div class="col-md-12">
                                        <button type="button" id="SubmitDirectSaleOrderCreate" class="btn btn-primary btn-sm btn-block waves-effect waves-themed">
                                            Submit
                                            <span>Order</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts{

<script>
     $(document).ready(function () {
         $("#SubmitDirectSaleOrderCreate").click(function () {

             $("#SubmitDirectSaleOrderCreate").text('please wait...');
             $("#SubmitDirectSaleOrderCreate").attr("disabled", true);

             if (ValidateDirectOrder()) {                
                 CreateGroupOrder('/DirectSale/DirectsaleOrderAdd');
             }
             else {
                 $("#SubmitDirectSaleOrderCreate").text('submit');
                 $("#SubmitDirectSaleOrderCreate").attr("disabled", false);
             }
         })
         
         $('#ChangeDriver').click(function () {                
                 $('#DriverName').val('');
                 $('#ContactNumber').val('');
             $('#driverId').val(0);
         });

         $('#orderQuantity').keyup(function () {
             VatCount();
         });

         $('#UnitPrice').keyup(function () {
             VatCount();
         });

         $("#VATPercentage").change(function () {
             VatCount();
         })
    })

    function VatCount() {

        var price = 0.00;
        var quantity = 0;
        var total = 0.00;
        var VatAmount = 0.00;
        var GrandTotal = 0.00;

        if ($("#orderQuantity").val() > 0 && $("#UnitPrice").val() > 0) {

            price = $("#UnitPrice").val();
            quantity = $("#orderQuantity").val();
            total = price * quantity;
            if ($("#VATPercentage").val() > 0) {
                VatAmount = ((5 * total) / 100);
            }
            GrandTotal = VatAmount + total;

            $('#VatAmount').val(VatAmount);
            $('#TotalAmount').val(GrandTotal);
        }
       // $('#VatAmount').val(VatAmount.toFixed(2));
    }

    function ValidateDirectOrder()
    {

        var IsValid = true;

        if ($('#DriverName').val().trim() == '') {
            IsValid = false;
            $('#DriverName').css('border-color', 'red');
            return IsValid;
        }
        else
        {
            $('#DriverName').css('border-color', 'green');
        }
        if ($('#ContactNumber').val().trim() == '') {
            IsValid = false;
            $('#ContactNumber').css('border-color', 'red');
            return IsValid;
        }
        else {
            $('#ContactNumber').css('border-color', 'green');
        }
        if (parseFloat($('#orderQuantity').val()) < 1 || $('#orderQuantity').val().trim() == '') {
            IsValid = false;
            $('#orderQuantity').css('border-color', 'red');
            return IsValid;
        }
        else {
            $('#orderQuantity').css('border-color', 'green');
        }
        return IsValid;
    }

    function CreateGroupOrder(Url) {

            var list = [], orderItem, CurrentRow;
            var formData = new FormData();

            var TotalQuantity = 0;

            orderItem = {
                orderQuantity: $('#orderQuantity').val(),
                VehicleId: $('#vehicleId').val(),
                DriverId: $('#driverId').val(),
                ProductId: $('#ProductId').val(),  
                UnitPrice: $('#UnitPrice').val(),
                VATPercentage: $('#VATPercentage').val(),
                VatAmount: $('#VatAmount').val(),
                TotalAmount: $('#TotalAmount').val(),
            }
            list.push(orderItem);

            var empObj = {
                deliverdQuantity: $('#orderQuantity').val(),
                CustomerNote: $('#CustomerNote').val(),
                latitude: $('#Lattitue').val(),
                longitude: $('#Longitude').val(),
                LocationFullUrl: $('#LocationFullUrl').val(),
                DriverName: $('#DriverName').val(),
                ContactNumber: $('#ContactNumber').val(),
            };

            for (var key in empObj) {
                formData.append(key, empObj[key]);
            }

            for (var i = 0; i < list.length; i++) {
                    formData.append('customerOrderViewModels[' + i + '][orderQuantity]', list[i].orderQuantity),
                    formData.append('customerOrderViewModels[' + i + '][VehicleId]', list[i].VehicleId),
                    formData.append('customerOrderViewModels[' + i + '][DriverId]', list[i].DriverId),
                    formData.append('customerOrderViewModels[' + i + '][ProductId]', list[i].ProductId)
                    formData.append('customerOrderViewModels[' + i + '][UnitPrice]', list[i].UnitPrice)
                    formData.append('customerOrderViewModels[' + i + '][VATPercentage]', list[i].VATPercentage)
                    formData.append('customerOrderViewModels[' + i + '][VatAmount]', list[i].VatAmount)
                    formData.append('customerOrderViewModels[' + i + '][TotalAmount]', list[i].TotalAmount)
            }
            if (list.length > 0) {

                $.ajax({
                    url: Url,
                    type: "POST",
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result != "Failed") {

                            list = [];
                            //swal("Good job!", "You clicked the button!", "success").dela;
                            $("#SubmitDirectSaleOrderCreate").text('Submit');
                          $("#SubmitDirectSaleOrderCreate").attr("disabled", false);
                            alert("success");
                           window.location.href = "/DirectSale/OrderDetails"
                        }
                        else {
                            alert(result);
                        }
                    },
                    error: function (errormessage) {
                        alert(errormessage);
                    }
                });
            }
            else {
                alert('Please Add item to list');
            }
        }

</script>

}