@model IT.Core.ViewModels.ProductViewModel
@{
    if (Model.Id > 0)
    {
        ViewBag.Title = "Aw Fuel - Edit Product";
    }
    else
    {
        ViewBag.Title = "Aw Fuel - Create Product";
    }

    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

<main id="js-page-content" role="main" class="page-content">
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Product <span class="fw-300">Create</span>
                    </h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <form action="/Product/Create" method="post">
                            <input type="hidden" value="@Model.Id" name="Id" id="Id" />
                            <div class="row">
                                <div class="col-md-12 pt-3">
                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Product Name</label>
                                        <input type="text" id="Name" required autocomplete="off" name="Name" value="@Model.Name" class="form-control" placeholder="Product Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pt-3">
                                    <div class="form-group">
                                        <label class="form-label" for="single-label">
                                            Select Unit
                                        </label>
                                        <select class="select2 form-control" name="Unit" id="Unit">
                                            <option id="op" value="NEW">+ Add new Unit</option>
                                            @if (ViewBag.productUnitViewModels != null)
                                            {
                                                foreach (var item in ViewBag.productUnitViewModels)
                                                {
                                                    <option value="@item.Id" @(item.Id == Model.Unit ? "selected='selected'" : "")>@item.Name</option>
                                                }
                                                <option id="op" value="NEW">+ Add new Unit</option>
                                            }
                                            else
                                            {
                                                <option>Product Unit</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 pt-3">
                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Unit Price</label>
                                        @if (Model.UPrice == 0)
                                        {
                                            <input type="text" id="UPrice" name="UPrice" autocomplete="off" class="form-control" placeholder="0.00">
                                        }
                                        else
                                        {
                                            <input type="text" id="UPrice" name="UPrice" autocomplete="off" value="@Math.Round(@Model.UPrice, 2)" class="form-control" placeholder="0.00">
                                        }

                                    </div>
                                </div>
                                <div class="col-md-12 pt-3 mb-2">
                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Description</label>
                                        <textarea name="Description" id="Description" class="form-control">@Model.Description</textarea>
                                    </div>
                                </div>
                                @if (Model.Id > 0)
                                {
                                    @Html.Partial("~/Views/Shared/UpdateReason/_ReasonPartialView.cshtml")
                                }
                            </div>
                            <div class="row py-5">
                                <div class="col-md-12">
                                    @if (Model.Id > 0)
                                    {
                                        <button type="submit" class="btn btn-primary btn-sm btn-block waves-effect waves-themed">
                                            Update
                                            <span>Product</span>
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="submit" id="SaveRecord" class="btn btn-primary btn-sm btn-block waves-effect waves-themed">
                                            Submit
                                            <span>Product</span>
                                        </button>
                                    }
                                </div>
                            </div>
                        </form>
                    </div>
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts{
    <script>
        $(document).ready(function () {
            //alert();
            $("#ProductMenu").attr("aria-expanded", "true");
            $('#ProductUl').css('display', 'block');
            $('#ProductLi').addClass('active');

            $("form").submit(function (event) {

                $("#SaveRecord").text('please wait...');
                $("#SaveRecord").attr("disabled", true);

            });
        });


        $(function () {
            $(".select2")
                .select2({
                    placeholder: 'Select type',
                    width: '50%',
                    minimumResultsForSearch: Infinity
                })
                .on('select2:close', function () {
                    var el = $(this);
                    if (el.val() === "NEW") {
                        //window.open('http://www.google.com');
                        window.location.href = '/ProductUnit/Create';
                        //$("a").attr("href", "ssss/sss")
                    }
                });
        });

    </script>

}
