@model IT.Core.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Product Details";
}

<main id="js-page-content" role="main" class="page-content">

    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>

                        Product <span class="fw-300">details</span>

                    </h2>

                </div>
                <div class="panel-container show">
                    <div class="panel-content">


                        <form action="/Product/Create" method="post">
                            <input type="hidden" value="@Model.Id" name="Id" id="Id" />
                            <div class="row">
                                <div class="col-md-12 pt-3">
                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Product                         Name</label>
                                        <input type="text" id="Name" name="Name" disabled value="@Model.Name" class="form-control" placeholder="Product Name">
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-6 pt-3">
                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Description</label>
                                        <input type="text" id="UPrice" name="UPrice" disabled value="@Model.UnitName" class="form-control" placeholder="Product Price">
                                    </div>
                                </div>

                                <div class="col-md-6 pt-3">
                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Description</label>
                                        <input type="text" id="UPrice" name="UPrice" disabled value="@Model.UPrice" class="form-control" placeholder="Product Price">
                                    </div>
                                </div>
                                <div class="col-md-12 pt-3">
                                    <div class="form-group">
                                        <label class="form-label" for="simpleinput">Description</label>
                                        <textarea name="Description" id="Description" disabled class="form-control">@Model.Description</textarea>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts{
    <script>
        $(document).ready(function () {
            //alert();
            $("#ProductMenu").attr("aria-expanded", "true");
            $('#ProductUl').css('display', 'block');
            $('#ProductLi').addClass('active');
        });

    </script>

}